.box{
    height: 100px;
    width: 300px;
    background-color: pink;

   /* animation-name: fontAnimation;
    /*animation-name: colorAnimate;*/
    animation-name:widthAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;
}
  
@keyframes widthAnimate {
      from {
        width: 100px;
      }
      to {
        width: 400px;
      }
}
/*
@keyframes fontAnimation {
    from {
        font-size :20px;
    }
    to {
        font-size:40px;
    }
}*/
/* 
@keyframes fontAnimation{
    0%{ background-color: black;}
    50%{ background-color: red;}
    80%{background-color: yellow;}
    100%{background-color: blue;}
}

@keyframes colorAnimate{
    from {
        background-color: green;
    }
    to {
        background-color: blue;
    }
}

  */